{% extends "layout.html" %}

{% block content %}
 <h1>What's New</h1>
 
        <!--<span class="center"><img src="static/images/breakfast.jpg" width="420" /></span>-->
        
        <p>What's new goes here</p>
        <!--<p>Among English speakers, "breakfest" can be used to refer to this meal composed of traditional breakfest foods(such as eggs, porridge and sausage) served at any time of day.</p>

        <p>Did you know? The word "breakfest" literally refers to breaking the fasting period of the prior night.</p>-->
{% endblock %}

