{% extends "layout.html" %}

{% block content %}
 <h1>Breakfest</h1>
 
        <span class="center"><img src="static/images/breakfast.jpg" width="420" /></span>
        
        <p>Breakfest is the first meal taken after rising from a night's sleep, most often eaten in the early morning before undertaking the day's work.</p>
        <p>Among English speakers, "breakfest" can be used to refer to this meal composed of traditional breakfest foods(such as eggs, porridge and sausage) served at any time of day.</p>

        <p>Did you know? The word "breakfest" literally refers to breaking the fasting period of the prior night.</p>
{% endblock %}

