{% extends "layout.html" %}

{% block content %}
    <h1>{{cat}}</h1>
{% for item in items %} 
    <div border-style: solid; border-width:thin; border-color: #FFFFFF;>
    <h1><b>{{item['name']}}</b></h1>
    <img src={{ url_for('static', filename = 'images/' )}}{{item['image']}}/>
    <p>What is it? <b>{{item['description']}}</b></p>
    <p>Other Guys Price: <b>{{item['retailprice']}}</b></p>
    <p>Our AWESOME Price!! <b>{{item['salesprice']}}</b></p>
    </div>
    
{% endfor %}        

{% endblock %}
