{% extends "layout.html" %}

{% block content %}
<h1>Contact Us</h1>

    <h2>Leave us your info and we'll get back to you!</h2>

    
    <h2>Comments</h2>
    <form method="POST" action="/r2">
        <table>
            <tr><td>Name</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Comment</td><td><input type="text" name="plane" /></td></tr>
            <tr><td>Birthday</td><td><input type="date" name="bday" /></td></tr>
            <tr><td>How did you hear about "Gusty's Bike Shop?"</td>
            <td><select name="time">
                <option>Online</option>
                <option>Books</option>
                <option>Social Media</option>
                <option>Other</option>
            </select></td>
            
            
            </tr>
            <tr><td>&nbsp;</td><td><input type="submit" /></td></tr>
        </table>

    </form>


{% endblock %}