{% extends "layout.html" %}

{% block content %}
 <h1>Dinner</h1>
 
        <span class="center"><img src="static/images/dinner.jpg" width="420" /></span>
        
        <p>Dinner usually refers to the most significant and important meal of the day, which can be the noon or the evening meal.</p>
        <p>However, the term "dinner" can have many different meanings depending on the culture; it may mean a meal of any size eaten at any time of day.</p>

        <p>Did you know? The meaning as the evening meal, generally the largest of the day, is becoming standard in many parts of the English-speaking world.</p>
{% endblock %}
