{% extends "layout.html" %}

{% block content %}
<ul id="images">
        <li><img src="static/images/Bike1.jpg" width="600" height="300" alt="seascape_one" /></li>
        <li><img src="static/images/Bike2.jpg" width="600" height="300" alt="seascape_two" /></li>
        <li><img src="static/images/Bike3.jpg" width="600" height="300" alt="seascape_three" /></li>
        <li><img src="static/images/Bike4.jpg" width="600" height="300" alt="seascape_four" /></li>
        <li><img src="static/images/Bike5.jpg" width="600" height="300" alt="seascape_five" /></li>
        <li><img src="static/images/Bike6.jpg" width="600" height="300" alt="seascape_seascape" /></li>
      </ul>
 <h1>Welcome to the Biking Community</h1>
        <p>Thanks for visiting but this website is currently still in development!</p>
        <!--<p>Check out our spotlight recipe! {{spotlight}}!</p>

        <p>The next cooking workshop is {{project.date}} at {{project.time}}! We will be making {{project.dish}}! The cost to attend is {{project.cost}}! We cant wait to see you there!</p>
        {% if classC %}
        <p><b>Class is still on for this Friday</b></p>
        {% else %}
        <p><b>Class is Canceled this Friday</b></p>
        {% endif %}
        
        <h1>Featured Videos</h1>
        {% for post in posts %}
        <h2>{{post.title}}</h2>
        <iframe width="620" height="480"
           src="https://youtube.com/embed/{{post.vidLink}}"></iframe>
        <p>{{post.description}}</p>
        {% endfor %}
        
        
        <p>Be sure to join us every Friday night at 6pm to learn how to cook from the professionals!</p>
{% endblock %}-->
