{% extends "layout.html" %}

{% block content %}

      <div id="site_content">
      <ul id="images">
        <li><img src="images/Bike1.jpg" width="600" height="300" alt="seascape_one" /></li>
        <li><img src="images/Bike2.jpg" width="600" height="300" alt="seascape_two" /></li>
        <li><img src="images/Bike3.jpg" width="600" height="300" alt="seascape_three" /></li>
        <li><img src="images/Bike4.jpg" width="600" height="300" alt="seascape_four" /></li>
        <li><img src="images/Bike5.jpg" width="600" height="300" alt="seascape_five" /></li>
        <li><img src="images/Bike6.jpg" width="600" height="300" alt="seascape_seascape" /></li>
      </ul>
       <div id="sidebar_container">
        <div class="sidebar">
            
          <h3>News and Blog</h3>
          
          <h4>Check Out Our Clearance Section</h4>
          <h5>January 1st, 2017</h5>
          <p>Be sure to check out our clearance section! Trust us you wont be dissapointed!</p>
          
          
          <h4>Remember Bike Safety</h4>
          <h5>December 6th, 2015</h5>
          <p>Join our weekly newsletter! We'll keep you up to date on all things biking!</p>
          
          <h4>Reminder</h4>
          <h5>December 6th, 2015</h5>
          <p>Join our weekly newsletter! We'll keep you up to date on all things biking!</p>
        </div>
      </div>
      
      <div class="content">
       
<h2><a href="/addProduct">Add Inventory (Not sure where this is supposed to be moved)</a></h2>
        
<h1>Welcome to our Biking Community</h1>
        
        <h2>About Us</h2>
        <p>We live and breathe cycling. Gusty's Bike Shop is a full-service bike retailer. Our friendly expert service advisors are specially trained to help guide and evaluate your bike service needs. No matter what your familiarity might be with bikes, you'll get exactly the right help.</p>
        
        <img src="images/Support.jpg" width="700" height="300" alt="seascape_one" />



    
{% endblock %}
