<!DOCTYPE HTML>
<html>

<head>
  <title>Gusty's Bike Shop</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="static/css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="static/js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">
    <header>
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">Gusty's<span class="logo_colour"> Bike Shop</span></a></h1>
          <h2>A Community for Bike Lovers</h2>
        </div>
      </div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/breakfest">What's New</a></li>
          <!--<li><a href="/lunch">Shop</a></li> -->
          <li><a href="/lunch">Shop</a>
            <ul>
              <li><a href="#">Drop Down One</a></li>
              <li><a href="#">Drop Down Two</a>
                <ul>
                  <li><a href="#">Sub Drop Down One</a></li>
                  <li><a href="#">Sub Drop Down Two</a></li>
                  <li><a href="#">Sub Drop Down Three</a></li>
                  <li><a href="#">Sub Drop Down Four</a></li>
                  <li><a href="#">Sub Drop Down Five</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down Three</a></li>
              <li><a href="#">Drop Down Four</a></li>
              <li><a href="#">Drop Down Five</a></li>
            </ul>
          <li><a href="/dinner">Blog</a></li>
          <li><a href="/r2">Contact Us</a>
          <li><a href="/music3">Sign In</a>
            <ul>
              <li id="one">
							 <div class="row">
									<div class="col-md-12 text-align: center">
										 <form class="form" method="post" action="/login" accept-charset="UTF-8" id="login-nav">
										   <br>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputEmail2">Email Address</label>
													 <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" ng-model="email">
												</div>
												<br>
												<div class="form-group">
													 <label class="sr-only" for="exampleInputPassword2">Password</label>
													 <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="password">
		                                             <div class="help-block text-right"><a href="">Forget password?</a></div>
												</div>
												<div class="form-group">
													 <button type="submit" class="btn btn-primary btn-block" ng-disabled="!email || !password">Sign in</button>
												</div>
										 </form>
									</div>
									<br>
									<div class="bottom text-align: center">
										<p style="color:black;">New here? <a target="_self" id="regClick"><b>Sign Up</b></a></p>
									</div>
							 </div>
						</li>
            </ul>
          </li>
            <!--<ul>
              <li><a href="#">Cakes</a></li>
              <li><a href="#">Cookies</a>
              </li>
              <li><a href="#">Pies</a></li>
              <li><a href="#">Icecream</a></li>
              <li><a href="#">Candy</a></li>
            </ul> -->
          </li>
        </ul>
      </nav>
    </header>
  <div id="site_content">
      <ul id="images">
        <li><img src="gustysbikeshop/Website/static/images/2.jpg" width="600" height="300" alt="seascape_one" /></li>
        <li><img src="static/images/2.jpg" width="600" height="300" alt="seascape_two" /></li>
        <li><img src="static/images/3.jpg" width="600" height="300" alt="seascape_three" /></li>
        <li><img src="static/images/4.jpg" width="600" height="300" alt="seascape_four" /></li>
        <li><img src="static/images/5.jpg" width="600" height="300" alt="seascape_five" /></li>
        <li><img src="static/images/6.jpg" width="600" height="300" alt="seascape_seascape" /></li>
      </ul>
       <div id="sidebar_container">
        <div class="sidebar">
          <h3>Whats New?!</h3>
          <h4>REMEMBER TO ALWAYS WASH YOUR HANDS</h4>
          <h5>January 1st, 2016</h5>
          <p>Be sure to check out our amazing desserts section! Trust us you wont be dissapointed!<br /><a href="#">Read more</a></p>
          <h4>Reminder</h4>
          <h5>December 6th, 2015</h5>
          <p>Join our weekly newsletter! We'll keep you up to date on all stuff food!</p>
        </div>
      </div>
      
      <div class="content">
      
      {%block content %}{% endblock %}
      
      </div>
    </div>
    <footer>
      <!--<p>Copyright &copy; CSS3_seascape_two | <a href="http://www.css3templates.co.uk">design from css3templates.co.uk</a></p>-->
    </footer>
  </div>
  <p>&nbsp;</p>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing-sooper.js"></script>
  <script type="text/javascript" src="static/js/jquery.sooperfish.js"></script>
  <script type="text/javascript" src="static/js/jquery.kwicks-1.5.1.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#images').kwicks({
        max : 600,
        spacing : 2
      });
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>

      
      
      
      
      
      
      
    
    
    
