{% extends "layout.html" %}

{% block content %}
<h1>Whats Your Favorite Album?</h1>
<p>Tell Us Below and seewhat other users posted!</p>
<table>
<tr><th>Artist</th><th>Album</th><th>Rank</th><th>Released</th></tr>
{% for album in albums %}
<tr><td>{{album['artist']}}</td><td>{{album['name']}}</td><td>{{album['rank']}}</td><td>{{album['released']}}</td></tr>
{% endfor %}
</table>
<h2>Add an Entry</h2>
<form  method = "POST" action="{{url_for('showChartForms')}}">
<table>
<tr><td>Artist</td><td><input type="text" id="artist" name="artist" size="35"></td></tr>
<tr><td>Album</td><td><input type="text" id="album" name="album" size="35"></td></tr>
<!--<tr><td>Rank</td><select>id="rank" name="rank">
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option>
            </select></td>-->
<tr><td>Rank</td><td><input type="text" id="rank" name="rank" size="5"></td></tr>
<tr><td>Released</td><td><input type="date" id="released" name="released" size="35"></td></tr>
<tr><td></td><td><input type="submit" value="Add Entry" /></td></tr>  
</table>
{% endblock %}