{% extends "layout.html" %}

{% block content %}
<h1>Looking to take a Cooking Class?</h1>

    <h2>Current Attendence</h2>

    <table> 
    <tr><th>Person</th><th>Favorite Food</th><th>Time</th><th>Birthday</th></tr>
    {% for plane in planes %}
    
    <tr><td>{{plane.person}}</td><td>{{plane.model}}</td><td>{{plane.time}}</td><td>{{plane.bday}}</td></tr>
    {% endfor %}
    
    
    </table>

    <h2>Register</h2>
    <form method="POST" action="/r2">
        <table>
            <tr><td>Your Name</td><td><input type="text" name="name" /></td></tr>
            <tr><td>Your Favorite Food</td><td><input type="text" name="plane" /></td></tr>
            <tr><td>Your Birthday</td><td><input type="date" name="bday" /></td></tr>
            <tr><td>Cooking Class Time</td>
            <td><select name="time">
                <option>6pm</option>
                <option>7pm</option>
                <option>8pm</option>
                <option>9pm</option>
            </select></td>
            
            
            </tr>
            <tr><td>&nbsp;</td><td><input type="submit" /></td></tr>
        </table>

    </form>


{% endblock %}