{% extends "layout.html" %}

{% block content %}
 <h1>Register</h1>
 
 <h2>Currently Registered</h2>
 <table>
  {% for plane in planes %}
  <tr><td>{{plane}}</td></tr>
  {% endfor %}
 </table>
 
 <h2>Register Your Plane</h2>
 <form method="POST" action ="/register">
 <table>
   <tr><td>Model Plane</td><td><input type="text" name="rcplane" /></td></tr>
 </table>
  <input type="submit" value="Register" />
        </form>
        <!--<span class="center"><img src="static/images/dessert.jpg" width="420" /></span>-->
        <p>Register Now for a Free Dessert!!</p>
        <p>Dessert is usually consist of sweet foods and beverages, but may include coffee, cheeses, nuts, or other savory items.</p>

        <p>Did you know? In some parts of the world there is no tradition of dessert to conclude a meal.</p>
{% endblock %}
