{% extends "layout.html" %}

{% block content %}
 <h1>Shop</h1>
 
        <!--<span class="center"><img src="static/images/lunch.jpg" width="420" /></span>
        
        <p>Lunch is a midday meal, of varying size depending on the culture. </p>
        <p>The origin of the words lunch and luncheon relate to a small meal originally eaten at any time of the day or night, but during the 20th century gradually focused toward a small or mid-sized meal eaten at midday.</p>
-->
        <p>Shop Site Goes here</p>
{% endblock %}
