{% extends "layout.html" %}

{% block content %}

<p>
	<table>
    <form class="form" role="form" method="post" target="_self" ng-submit="register()" accept-charset="UTF-8" id="main">
		<tr><div class="form-group">
			<td><label class="sr-only" for="exampleInputEmail2"><b>Email address</b></label></td>
			<td><input type="email" class="form-control" id="email" placeholder="Email Address" name="email" ng-model="remail" style="text-align:center" required></td>
		</div></tr>
		
		<tr><div class="form-group">
			<td><label class="sr-only" for="exampleInputEmail2"><b>First Name</b></label></td>
			<td><input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName" ng-model="firstname" style="text-align:center" required></td>
		</div></tr>
		
		<tr><div class="form-group">
			<td><label class="sr-only" for="exampleInputEmail2"><b>Last Name</b></label></td>
			<td><input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName" ng-model="lastname" style="text-align:center" required></td>
		</div></tr>
		
	    <tr><div class="form-group">
	    	<td><label class="sr-only" for="exampleInputPassword2"><b>Password</b></label></td>
	    	<td><input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="rpassword" style="text-align:center" required></td>
	    </div></tr>
	    
	    <tr><div class="form-group">
	    	<td><label class="sr-only" for="exampleInputPassword2"><b>Confirm Password</b></label></td>
	    	<td><input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" ng-model="cpassword" style="text-align:center" required></td>
	    </div></tr>
	    
	    <tr>
	    	<td></td>
	    	<td><div class="form-group">
			<button type="submit" class="btn btn-primary btn-block" ng-disabled="!remail || !firstName || !lastName || !rpassword || !cpassword || rpassword != cpassword">Register</button>
			</div></td>
	    </tr>
	</form>
	</table>
</p>

{% endblock %}